@import "tailwindcss";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where(.dark, .dark *));

html,
body {
  overflow-x: hidden;
}

body {
  font-family: var(--font-poppins), sans-serif;
  font-size: larger;
}

/* slow down react-toastify center slide animation */
.Toastify_slide-enter {
  animation-duration: 1s !important;
}
.Toastify_slide-exit {
  animation-duration: 1s !important;
}
