@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import "tailwindcss";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: "Poppins", sans-serif;
  font-size: larger;
}

/* slow down react-toastify center slide animation */
.Toastify_slide-enter {
  animation-duration: 1s !important;
}
.Toastify_slide-exit {
  animation-duration: 1s !important;
}
